html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden; /* Prevent scrollbars */
}

canvas {
  display: block;
  width: 100%;
  height: 100%;
}

#info {
  position: absolute;
  top: 0;
  right: 0;
  gap: 5px;
  padding: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  font-family: monospace;
}

#fps {
  padding: 5px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

#field {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 5px;
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 5px;
}